body{
    background-image: url(/img/background.jpg);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 5000;   
}

h1, h2 {
    font-size:larger;
    font-weight: 700;
}

header {
background: linear-gradient(100deg, #84dd9c, #65ceeb)
}

.navbar{
opacity: 80%;
size: 90%;
border: 4px dashed lightblue;
max-height: fit-content;
}

.about{
background-color: hsl(34, 78%, 91%, 90%);
border: 3px solid lightblue;
max-height: fit-content;
}

.img_profile{
max-width: 150px;
height: auto;
border-radius: 50%;
border: 2px solid lightblue;
}

.card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 1fr;
  gap: 16px;
  border: 2px solid lightblue;
  margin-top: 20pxgit ;
}

.card-img-top{
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 2px solid lightblue;
  margin-top: 5px;
}

main{
    color: black;
    opacity: 80%; 
    border-style: ;
}

.rodape {
    text-decoration: none;
    color: lightblue;
}